<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <form method="POST" class="post-form" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie Id:</label>
                <div class="col-sm-4">
                    {{ form.id }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie title:</label>
                <div class="col-sm-4">
                    {{ form.title }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie description:</label>
                <div class="col-sm-4">
                    {{ form.description }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie launch:</label>
                <div class="col-sm-4">
                    {{ form.launch }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie lenght:</label>
                <div class="col-sm-4">
                    {{ form.lenght }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie genre:</label>
                <div class="col-sm-4">
                    {{ form.genre }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie director:</label>
                <div class="col-sm-4">
                    {{ form.director }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie screenwriter:</label>
                <div class="col-sm-4">
                    {{ form.screenwriter }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Movie poster:</label>
                <div class="col-sm-4">
                    {{ form.poster }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>